
*{
  margin:0 ;
  padding: 0;
 
  box-sizing: border-box;
}
:root{
  --background:#262936
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}
input:focus{
  border: none;
  outline: none;
  color: white;
}
.slick-arrow{
  display: none !important;
}
p{
  font-size: 20px;
}
h2{
  font-weight: bold;
}

h3{
  font-weight: bold;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
  background-color: #1E202B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  z-index: -1;
}
.search-box{
  position: relative;
  text-align: center;
}
.search-box input{
  padding: .9rem 1rem;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 3.5rem;
  border-radius: 25px;
  border: none;
  width: 100%;
  color: white;
  /* background-color: #42497f; */
  font-weight: bold;

}
.search-icon{
  position: absolute;
  left: 15px;
  top:7px;
  font-size:1.5rem;

}
::placeholder{
  color: white;
}

.weather{
  font-size: 14px;

}
.weather h4{
  font-weight: 700;
}
.details{
background: var(--background);
border-radius: 10px;
}
.details-title{
  padding-bottom: 1rem;
}
.details .features{
  background: none;
}
.humidity{
  border-radius: 10px;
}
.details-title{
  color: grey;
}
.bold{
  font-weight: 700;
}
.daily{
  display: flex;
  flex-direction: column;
}
.daily .card_box{
  width: 800px;
}
.daily .card_box{

  font-size: 24px;
  gap: 1px;
  box-shadow: none;
}
.card-box{
  /* background: #2c2c6c; */
  border-radius: 10px;
}
.card_bottom{
  border-top: 1px solid grey;
  padding-top: 1rem;
}
.features{
  display: flex;
  box-shadow: none !important;
  justify-content: inherit !important;
}

.card_box{
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
  /* max-width: 300px; */
  background: var(--background);
  color:white;

}
.card-box{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  background: var(--background);
  color:white;
}
.features .card_box{
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: none;
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  margin: 1rem;
  color:white;
}
.hours{
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 24px;
  max-width: 200px;
  gap: 3px;
}
.hours img{
  width: 10rem;
  height: 10rem;
}
.temperature{
font-weight: bold;
}
.card_box p{
  margin-bottom: inherit;
}
.cardBox{
  border-radius: 12px;

}
.card_header{
display: flex;
justify-content: space-between;
align-items: center;
}
.units h4{
  font-weight: bold;
  letter-spacing: 1px;
}
.behavior a{
  font-size: 5rem;
}
.current_box{
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.current_box h2{
  font-size: 40px;
}

.searchInput:focus{
outline: none;
}
.description{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.details{
  gap: 2rem;
  padding: 20px;
}
.day{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* .date{
  width: 4rem;
} */
.current{
  margin-left: inherit;
}
section{
  height: 10rem;
  display: flex;
  align-items: center;
}
form{
  display: flex;
  justify-content: center;
}
input{
  background: var(--background);
  padding: clamp(12px, 0.83vw, 24px);
  color: black;
  border: none;
  border-radius: 25px;
  width: 100%;
}
.btn{
  color: white;
  font-size: 18px;
  font-weight: bold;
}
footer{
  text-align: center;
  color: white;
}
footer p{
  border-top:1px solid var(--background);
  padding: 2rem;
  margin-bottom: inherit;

}
footer img{
  width: 150px;
  height: 100px;
}

.footer_logo{
font-size:2rem;
font-weight: 500;
display: block;
margin-bottom: 1.5rem;
}

.footer_social{
  display: flex;
  justify-content: center;
  gap:1rem;
  margin-bottom: 2rem;
}
.footer_social a{
  border: 2px solid rgba(255, 255, 255, .3) !important;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer_social a:hover{
  background: red;
}
.topbutton{
  background-color: #2c2c6c;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 12px;
  border-radius: 50%;
}
.errors{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.icon{
  font-size: 3rem;
}
/* .daily{
  background: #303B75;
} */
 .detail{
  display: flex;
  gap: 3rem;
  align-items: center;
 }
 .swiper-wrapper{
  gap: 1rem;
  justify-content: center;
 }
 .swiper-slide{
  width: 100% !important;
 }
 .detail svg{
font-size: 2.5rem;
width: 2.5rem;
 }
 @media (max-width:720px){
  .current{
    margin-left: auto;
  }
  .degrees{
justify-content: center;
padding-bottom: 1rem;
  }
  .hours{
    max-width: inherit !important;
  }
}
 
